{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>

<body class="text-center" style="background-color: gainsboro;">
    <form class="form-signin" method="post" action="{% url 'accounts:login' %}" >
        {% csrf_token %}
        <img class="m-5" src="{% static 'img/logo-invert.png' %}" alt="" width="220"
            height="50">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        
        <input type="text" name="username" class="form-control mt-2" placeholder="Username" required autofocus>
        
        <input type="password" name="password" class="form-control mt-2" placeholder="Password" required>
        <div class="checkbox m-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-3 mb-2"><a href="{% url 'accounts:signup' %}" >Create an account</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>

</html>