{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>

<body class="text-center" style="background-color: gainsboro;">
    <form class="form-signin" method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <img class="m-5" src="{% static 'img/logo-invert.png' %}" alt="" width="220"
            height="50">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        
        <input type="text" name="username" class="form-control mt-2" placeholder="Username" required autofocus>

        <input type="password" name="password1" class="form-control mt-2" placeholder="Password" required>        
        
        <input type="password" name="password2" class="form-control mt-2" placeholder="Confirm Password" required>
        
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign up</button>
        <p class="mt-3 mb-2"><a href="{% url 'accounts:login' %}" >Already have an account?</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2021-2023</p>
    </form>
</body>

</html>