{% load static %}
{% load blog_tags %}
<!-- Start blog Area -->
<section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Latest from Our Blog</h1>
					<p>With the exception of Nietzsche, no other madman has contributed so much to human sanity as has.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-recent-blog-carusel">
                {% for post in posts %}
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="{{post.image.url}}" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
                                {% for cat in post.category.all %}
								<li>
									<a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<a href="{% url 'blog:single' pid=post.id %}">
							<h4 class="title">{{post.title}}</h4>
						</a>
						<p>
							{{post.content|excerpt:15}}
						</p>
						<h6 class="date">{{post.published_date|date:"d M Y"}}</h6>
					</div>
				</div>				
                {% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- End recent-blog Area -->