<div class="single-sidebar-widget post-category-widget">
    <h4 class="category-title">Post Catgories</h4>
    <ul class="cat-list">
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Technology</p>
                <p>37</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Lifestyle</p>
                <p>24</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Fashion</p>
                <p>59</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Art</p>
                <p>29</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Food</p>
                <p>15</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Architecture</p>
                <p>09</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Adventure</p>
                <p>44</p>
            </a>
        </li>															
    </ul>
</div>