{% load static %}
<div class="single-sidebar-widget popular-post-widget">
    <h4 class="popular-title">Popular Posts</h4>
    <div class="popular-post-list">
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/blog/pp1.jpg' %}" alt="">
            </div>
            <div class="details">
                <a href="blog-single.html"><h6>Space The Final Frontier</h6></a>
                <p>02 Hours ago</p>
            </div>
        </div>
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/blog/pp2.jpg' %}" alt="">
            </div>
            <div class="details">
                <a href="blog-single.html"><h6>The Amazing Hubble</h6></a>
                <p>02 Hours ago</p>
            </div>
        </div>
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/blog/pp3.jpg' %}" alt="">
            </div>
            <div class="details">
                <a href="blog-single.html"><h6>Astronomy Or Astrology</h6></a>
                <p>02 Hours ago</p>
            </div>
        </div>
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/blog/pp4.jpg' %}" alt="">
            </div>
            <div class="details">
                <a href="blog-single.html"><h6>Asteroids telescope</h6></a>
                <p>02 Hours ago</p>
            </div>
        </div>															
    </div>
</div>